$tile-blue: #718fa9;
$light-tile-blue: #e2e8ed;

@mixin top-level-component() {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right top, $tile-blue, $light-tile-blue);
  font-family: Noto Sans, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  width: 100%;

}

#splash-page {
  @include top-level-component();
  text-align: center;

  #splash-content {
    width: 75%;

    h1 {
      font-size: 80px;
    }

    p {
      margin: 1em;
      font-size: 55px;
    }

  }

}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  div {
    background-color: lightgrey;
    width: 160px;
    padding: .4em;
    border: .5px solid darkgrey;
  }

  #logout {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

#logged-in {
  @include top-level-component();
  p {
    margin: 1em;
    font-size: 55px;
  }

  #header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 40px;
    width: 100%;
    padding: 10px 0 10px 0;
    border-bottom: 2px solid darkgray;

    #logout-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      float: right;
      margin: 0 2em 0 0;

      img {
        display: inline-block;
        border-radius: 100%;
        margin: 0 .5em 0 0;
      }

      .login-button {
        display: inline;
        div {
          display: inline-block;
          font-size: 16px;
          color: black;
          font-weight: bold;
        }
      }
    }
    #title {
      display: inline-block;
      font-size: 30px;
      margin: .1em 0 0 1em;
      font-weight: bold;
    }
  }

}