$tile-blue: #718fa9;
$light-tile-blue: #e2e8ed;

@mixin top-level-component() {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right top, $tile-blue, $light-tile-blue);
}
* {
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  width: 100%;

}

#splash-page {
  @include top-level-component();

  text-align: center;

  #splash-content {
    width: 75%;

    h1 {
      font-family: Noto Sans, sans-serif;
      font-size: 80px;
    }

    p {
      margin: 1em;
      font-family: Noto Sans, sans-serif;
      font-size: 55px;
    }

    #twitter-login {
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        background-color: lightgrey;
        width: 160px;
        padding: .4em;
        border: .5px solid darkgrey;
      }


    }
  }

}

#search-page {
  @include top-level-component();
  p {
    margin: 1em;
    font-family: Noto Sans, sans-serif;
    font-size: 55px;
  }
}